---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import HeroSection2 from '../components/HeroSection2.astro';
import NavBar2 from '../components/NavBar2.astro';
---

<Layout title="Headers with Astro.">
	<main>
		<NavBar2></NavBar2>
		<HeroSection2></HeroSection2>
	</main>
</Layout>

<style>
	
</style>
